<div class="navbar text-center">
  <div class="col">
  <a  (click)="goToRegister()">Registracija</a>
  </div>
  <div class="col">
  <a routerLink="">Pocetna</a>
  </div>

</div>
<br>
<div class="container-fluid">
<div class="loginMenu">
  <div class="row">
  <table>
      <tr>
          <td>Mejl:</td>
          <td><input type="text" name="email" [(ngModel)]="email" [placeholder]="errorEmail" [class.invalid]="errorEmail"></td>
      </tr>
      <tr>
          <td></td>
          <td><button mat-raised-button color="primary" (click)="sendPassword()">Posalji mi lozinku</button></td>
          <td></td>
      </tr>
  </table>
  </div>
</div>
<br>
<div *ngIf="successEmail" class="successClass loginMenu">

{{successEmail}}

</div>
</div>
